<div class="container">
<%= render 'home/header' %>

<table class='table'>
  <thead>
    <tr>
      <th>User name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>@<%= link_to "#{user.user_name}", user %></td>
        <% if current_user.following?(user) %>
          <td><%= link_to 'Unfollow', unfollow_user_path(user) %></td>
        <% else %>
          <td><%= link_to 'Follow', follow_user_path(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %>
</div>
