<div class="container">
  <%= render 'home/header' %>
  <% if !@user.name.empty? %>
      <h3>
        <%= @user.name %>
      </h3>
  <% end %>

  <h3>
    @<%= @user.user_name %>
  </h3>

  <% if !@user.bio.empty? %>
      <blockquote>
        <%= @user.bio %>
      </blockquote>
  <% end %>

  <div>
    <strong>Posts:</strong>
    <% @user.posts.each do |post| %>
        <p><%= post.content %></p>
    <% end %>
  </div>
  <% if current_user.email==@user.email %>
      <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-primary' %>
  <% end %>
</div>