<%= form_for(@nsbe_post) do |f| %>
<div class="form-group">
  <% if @nsbe_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nsbe_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @nsbe_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Post Something' %><br>
    <%= f.text_area :content, :placeholder => 'What is on your mind?' %>
  </div>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit 'Post', :class => 'btn btn-info' %>
  </div>
</div>
<% end %>
